html,body{
	height:100%;
}
body{
	width:100%;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
}
#form{
	display:block;
	max-width:500px;
	width:100%;
	height:auto;
	margin:0 auto;
	background-color:rgba(0,0,0,0.7);
	padding:10px;
	box-shadow:5px 5px 8px #020202;
}
#form input{
	width:75%;
}
#form button{
	width:20%;
}
h1{
	font-size:2em;
	color:#ffffff;
	text-align:center;
}
#taskList p{
	font-size:1.5em;
	color:#ffffff;
}

.delete-button{
	display:none;
	color:red;
	cursor: pointer;
}
